<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id="ch.euro2016.tippspiel"
        versionCode="1"
        version="0.0.1">
    <name>Euro 2016</name>
    <description>Euro 2016 Tippspiel</description>
    <author email="cyrill.zadra@gmail.com" href="https://github.com/cyrillzadra/tippspiel">Euro 2016 Tippspiel Team
    </author>
    <content src="index.html"/>
    <access origin="debug.phonegap.com"/>
    <access origin="debug3.phonegap.com"/>
    <access origin="*.phonegap.com"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>

    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="android-minSdkVersion" value="16"/>
    <preference name="BackupWebStorage" value="none"/>
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.Device" />
        <param name="ios-package" value="CDVDevice" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser"/>
        <param name="android-package" value="org.apache.cordova.InAppBrowser"/>
    </feature>
    <feature name="Globalization">
        <param name="ios-package" value="CDVGlobalization"/>
        <param name="android-package" value="org.apache.cordova.Globalization"/>
    </feature>
</widget>
