<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="ch.euro2016.tippspiel"
        versionCode="1"
        version="0.0.1">

    <name>Euro2016</name>
    <description>Euro 2016 Tipster</description>
    <author email="cyrill.zadra@gmail.com" href="https://github.com/cyrillzadra/tippspiel">Euro 2016 Tipster Team</author>
    <content src="index.html"/>

    <!-- Core plugins -->
    <plugin name="org.apache.cordova.device" />
    <plugin name="org.apache.cordova.globalization" />
    <plugin name="org.apache.cordova.inappbrowser" />

    <access origin="*"/>
    <access origin="auth.firebase.com"/>
    <access origin="*.firebaseio.com"/>
    <access origin="https://auth.firebase.com/"/>

    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>

    <preference name="phonegap-version" value="cli-6.0.0" />
</widget>
